# Error Detection

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('clean_data.csv')

In [5]:
# rename columns from Vietnamese to English
df = df.rename(columns={"sbd":"id", "tên":"full name", "toán":"math", "ngữ văn":"literature", "khxh":"social science", 
                        "khtn":"natural science", "lịch sử":"history", "địa lí":"geography", "gdcd":"civics", 
                        "sinh học":"biology", "vật lí":"physics", "hóa học":"chemistry", "tiếng anh":"english"})

In [7]:
df.head()

,id,full name,dd,mm,yyyy,math,literature,social science,natural science,history,geography,civics,biology,physics,chemistry,english
0,2000001,Phạm Hoàng Hương Ái,4,11,2002,6.6,6.25,6.67,-1.00,5.75,7.00,7.25,-1.0,-1.00,-1.00,5.2
1,2000002,Đặng Huỳnh Vĩnh An,13,12,2002,8.2,7.75,7.58,-1.00,7.00,7.25,8.50,-1.0,-1.00,-1.00,7.0
2,2000003,Lâm Nguyễn Mộng Thùy An,6,4,2001,6.8,6.75,6.92,-1.00,4.75,7.75,8.25,-1.0,-1.00,-1.00,6.0
3,2000004,Lê Tiêu Hoàng An,18,11,2002,7.8,6.25,-1.00,6.25,-1.00,-1.00,-1.00,7.0,5.50,6.25,5.6
4,2000005,Lư Thuận An,14,1,2002,6.4,6.50,-1.00,6.17,-1.00,-1.00,-1.00,5.5,6.75,6.25,8.2

In [12]:
# Find students that have 0 as their DOB
df[(df['dd'] == 0) | (df['mm'] == 0) | (df['yyyy'] == 0)]

,id,full name,dd,mm,yyyy,math,literature,social science,natural science,history,geography,civics,biology,physics,chemistry,english
47267,2047313,Lê Bích Trâm,0,0,2000,8.0,5.50,-1.0,-1.00,7.50,8.25,-1.0,-1.00,-1.0,-1.0,-1.0
65410,2065617,Phan Thành Kiệm,0,0,1992,8.4,-1.00,-1.0,-1.00,-1.00,-1.00,-1.0,8.00,-1.0,8.0,-1.0
68187,2068425,Nguyễn Thị Lan,0,0,1978,2.4,4.25,-1.0,-1.00,2.75,4.25,-1.0,-1.00,-1.0,-1.0,-1.0
68767,2069015,Trần Văn Trí,0,0,2002,7.4,6.25,-1.0,4.08,-1.00,-1.00,-1.0,2.75,3.5,6.0,-1.0